@font-face {
    font-family: main;
    src: url(Zain-Bold.ttf);
}

::-webkit-scrollbar {
    display: none;
}  

body{
    height: 100vh;
    background-color: #1D1D1D;
    margin: 0;
}

/* TOP BAR */

#top-bar{   
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 145px;
}

#logo{
    padding-top: 10px;
}

/* MAIN CONTENT */

#main-content{
    width: 100%;
    height: 100vh;
}

#credits{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 145px;
    margin-top: 100vh;
    margin-bottom: -5px;
}

#artists-bg{
    position: absolute;
    height: 100%;
    width: 850px;
    background-color: rgba(0, 0, 0, 0.312);
}

#top-artists{
    position: absolute;
    padding-left: 49px;
    padding-top: 30px;
    font-size: 64px;
    font-family: main;
    color: #555555;
}

/* INFO (ON RIGHT) */

#info-container{
    justify-content: center;
    display: flex;
    position: absolute;
    height: 100%;
    margin-left: 850px;
    width: 54%;
}

#info-area{
    margin-top: 30px;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(assets/info-background/infobg.svg);
    width: 918px;
    height: 749px;
}

/* ARTISTS CLASSES */

.button-choose{
    cursor: pointer;
    margin-left: 39px;
    width: 222px;
    height: 297px;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
}

.fagata{
    margin-top: 120px;
    background-image: url(assets/artists-choose/fagata.svg);
}

.fagata:hover{
    margin-top: 120px;
    background-image: url(assets/artists-choose/fagata-1.svg);
}

.palion{
    background-image: url(assets/artists-choose/palion.svg);
}

.palion:hover{
    background-image: url(assets/artists-choose/palion-1.svg);
}

.genzie{
    background-image: url(assets/artists-choose/genzie.svg);
}

.genzie:hover{
    background-image: url(assets/artists-choose/genzie-1.svg);
}

.nirvana{
    margin-top: 30px;
    background-image: url(assets/artists-choose/nirvana.svg);
}

.nirvana:hover{
    margin-top: 30px;
    background-image: url(assets/artists-choose/nirvana-1.svg);
}

.mfdoom{
    background-image: url(assets/artists-choose/mfdoom.svg);
}

.mfdoom:hover{
    background-image: url(assets/artists-choose/mfdoom-1.svg);
}

.travisscott{
    background-image: url(assets/artists-choose/travisscott.svg);
}

.travisscott:hover{
    background-image: url(assets/artists-choose/travisscott-1.svg);
}